<div class="user_input">
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :release %><br />
    <!-- [Jinge Gary]datetime picker -->
    <div class='input-group date' id='release_date'>
        <%= f.text_field :release, class: "form-control" %>
        <span class="input-group-addon" id="calendar_icon_release">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <script type="text/javascript" id='calendar_js'>
        $(function () {
            $('#release_date').datetimepicker({format: 'YYYY-MM-DD HH:mm Z'});
        });
    </script>
    <!-- end [Jinge Gary] datetime picker -->
  </div>
  <div class="field">
    <%= f.label :due %><br />
    <!-- [Jinge Gary]datetime picker -->
    <div class='input-group date' id='due_date'>
        <%= f.text_field :due, class: "form-control" %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar" id='calendar_icon_due'></span>
        </span>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#due_date').datetimepicker({format: 'YYYY-MM-DD HH:mm Z'});
        });
    </script>
    <!-- end [Jinge Gary] datetime picker -->
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <% if @task.status == nil %>
      <%= f.select :status, options_for_select([["Select One", ""], "New", "Started", "Finished"])%>
    <% else %>
      <%= f.select :status, options_for_select([[@task.status, ""], "New", "Started", "Finished"], @task.status)%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <% if @task.course == nil %>
      <%= f.select(:course, @task.all_course)%>
    <% else %>
      <%= f.select(:course, @task.all_course)%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <% if @task.kind == nil %>
       <%= f.select :kind, options_for_select([["Select One", ""], "Project", "Homework", "Paper", "Exam", "Other"])%>
    <% else %>
       <%= f.select :kind, options_for_select([[@task.kind, ""], "Project", "Homework", "Paper", "Exam", "Other"], @task.kind)%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :rate %><br />
    <% if @task.rate == nil %>
       <%= f.select :rate, options_for_select([["Select One", ""], 1, 2, 3, 4, 5])%>
    <% else %>
       <%= f.select :rate, options_for_select([[@task.rate, ""], 1, 2, 3, 4, 5], @task.rate)%>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>