<!-- Start: Change style -->
  <div class="tasklist-view" id="tasklist_view">

    <% @tasks_by_status.each do |task_list| %>
      <% if task_list.length != 0 %>
        <% if task_list[0].status == "Past due" %>
          <% subs = "high"; status_change = "Finish"; id = "Past_due" %>
        <% elsif task_list[0].status == "Started" %>
          <% subs = "medium"; status_change = "Finish"; id = "Started" %>
        <% elsif task_list[0].status == "New"; %>
          <% subs = "low"; status_change = "Start"; id = "New" %>
        <% else %>
          <% if @show_finish == true; status_change = "Reopen" %>
            <% subs = "xlow"; id = "Finished" %>
          <% else %>
            <% break %>
          <% end %>
        <% end %>
        <div class="priority <%= subs %>" id="<%= id %>"><span><%= task_list[0].status %></span></div>
        <% task_list.each do |task| %>
          <div class="task <%= subs %>" id="<%=task.course%>_<%=task.title%>">
            <div class="desc">
              <div id="<%=task.course%>_<%=task.title%>_listitem" class="title"><%= link_to task.title, task_path(task) %></div>
              <div><%= task.course + "     " %><%= task.kind %></div>
            </div>
              <div class="button_area" id="status_button_<%=task.id%>">

              <%= link_to status_change, task_change_status_path(task.id), {:style=>'color:#FFFFFF;', :class => "btn btn-large btn-primary"}%>     
              </div>
            <div class="time">
              <div class="date"><%= task.due.strftime("%b %d") %></div>
              <% if task.due > Time.now %>
                <div><%= distance_of_time_in_words(task.due, Time.now, include_seconds: true) + " left" %></div>
              <% else %>
                <div><%= distance_of_time_in_words(task.due, Time.now, include_seconds: true) + " passed" %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="clearfix"></div>    

  </div>    

