<!-- Start: Change style -->
  <div id="timeline_view" class="graph timeline-view">

    <div class="timeline">
      <% i = 0 %>
      <% @tasks_by_time.each do |task| %>
        <% if i % 2 == 0 %>
          <% div_name = "timeslot" %>
        <% else %>
          <% div_name = "timeslot alt" %>
        <% end %>
        <div class="<%= div_name %>" id="<%=task.course%>_<%=task.title%>">
        <div class="task">
            <span>
              <span class="type"><%= task.course %></span><span class="type"><%= task.kind %></span>
              <span id="<%=task.course%>_<%=task.title%>_timeslot" class="details"><%= link_to task.title, task_path(task) %></span>
              <span>
                remaining time
                <span class="remaining">
                <% if task.due > Time.now %>
                  <%= distance_of_time_in_words(task.due, Time.now, include_seconds: true) + " left" %>
                <% else %>
                  <%= distance_of_time_in_words(task.due, Time.now, include_seconds: true) + " passed" %>
                <% end %>
                </span> 
              </span> 
            </span>
            <div class="arrow"></div>
          </div>   
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="time">
            <%= task.due.strftime("%b %d") %>
          </div>  

        </div>

        <div class="clearfix"></div>
      <% i += 1 %>
    <% end %>
    </div>
                <p><a href="#" id="load-more">Load More</a></p>
            <script>
              var $timeslot = $( '.timeslot' );
              var $timesslot_alt = $( '.timeslot alt' );
              for (var i = 0; i < 6; i++){
                var $hidden = $timeslot.filter(':hidden:first').addClass('active');
              }
              $("#load-more").click(function(){
                if ($(this).hasClass('disable')) return;
                for (var i = 0; i < 4; i ++){
                    var $hidden = $timeslot.filter(':hidden:first').addClass('active');
                }
              });
            </script>

  </div>

