<head>
<style type='text/css'>

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
h1, table{
  text-align: center
}

#MySelect{
  margin-left: 10%;
  margin-bottom: 10px;
  width: 120px
}
</style>

</head>


<body>
<div class="cc-offcanvas-right">
  <div id="cc-main-content" role="main" class="row cc-container-main">
    <div class="cc-clearfix-container">
      <div class="medium-5 columns medium-push-3 cc-page-dashboard-column-b">
        <div class="cc-widget-title">
          <h2><span>To Do</span><span style="background:none; float: right; text-align: right;"><%= button_to 'Add new task', new_task_path %></span></h2>
        </div>
        <br />
        <div id="task-nav">
          <a>Task List</a><a>Timeline</a>
        </div>
      </div>
      <div class="medium-4 columns medium-push-3 cc-page-dashboard-column-c cc-column-last">
        <div class="cc-widget-title">
          <h2><span>Recent Activity</span></h2>
        </div>
      </div>
      <div class="medium-3 columns medium-pull-9 cc-page-dashboard-column-a">
        <div class="cc-widget-title">
          <h2><span>Wednesday</span>&nbsp;<span class="cc-widget-title-sub">Apr 15</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Start: Change style -->
      <table id='tasks' width="80%">
      <div id="content" class="col-lg-10 col-sm-11">
      
      
      <div class="row">
        
        <div class="col-sm-7">
          
          <div class="task-list" id="white-area">
            <h1>Tasks</h1>
            <% @tasks_by_status.each do |task_list| %>
              <% if task_list.length != 0 %>
                <% if task_list[0].status == "Past due" %>
                  <% subs = "high"; status_change = "Finish"; id = "Past_due" %>
                <% elsif task_list[0].status == "Started" %>
                  <% subs = "medium"; status_change = "Finish"; id = "Started" %>
                <% elsif task_list[0].status == "New"; %>
                  <% subs = "low"; status_change = "Start"; id = "New" %>
                <% else %>
                  <% if @show_finish == true; status_change = "Reopen" %>
                    <% subs = "xlow"; id = "Finished" %>
                  <% else %>
                    <% break %>
                  <% end %>
                <% end %>
                <div class="priority <%= subs %>" id = "<%= id %>"><span><%= task_list[0].status %></span></div>
                <% task_list.each do |task| %>
                  <div class="task <%= subs %>" id = "<%=task.course%>_<%=task.title%>">
                    <div class="desc">
                      <div class="title"><%= link_to task.title, task_path(task) %></div>
                      <div><%= task.course + "     " %><%= task.kind %></div>
                    </div>
                      <div class="button_area" id="status_button_<%=task.id%>">

                      <%= link_to status_change, task_change_status_path(task.id), {:style=>'color:#FFFFFF;', :class => "btn btn-large btn-primary"}%>     
                      </div>
                    <div class="time">
                      <div class="date"><%= task.due.strftime("%b %d") %></div>
                      <% if task.due > Time.now %>
                        <div><%= distance_of_time_in_words(task.due, Time.now, include_seconds: true) + " left" %></div>
                      <% else %>
                        <div><%= distance_of_time_in_words(task.due, Time.now, include_seconds: true) + " passed" %></div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>

            <div class="clearfix"></div>    

          </div>    
          
        </div><!--/col-->
        
        <div class="col-sm-5">
          
          <div class="graph">

            <h1>Timeline</h1>

            <div class="timeline" id="Timeline">
              <% i = 0 %>
              <% @tasks_by_time.each do |task| %>
                <% if i % 2 == 0 %>
                  <% div_name = "timeslot" %>
                <% else %>
                  <% div_name = "timeslot alt" %>
                <% end %>
                <div class="<%= div_name %>" id="<%=task.course%>_<%=task.title%>_timeslot">
                <div class="task">
                    <span>
                    <span class="type"><%= task.kind %></span>
                    <span class="details">
                      <%= task.course+" " %><%= task.title %>
                    </span>
                    <span>
                      remaining time
                      <span class="remaining">
                        <% if task.due > Time.now %>
                          <%= distance_of_time_in_words(task.due, Time.now, include_seconds: true) + " left" %>
                        <% else %>
                          <%= distance_of_time_in_words(task.due, Time.now, include_seconds: true) + " passed" %>
                        <% end %>
                      </span> 
                    </span> 
                  </span>
                  <div class="arrow"></div>
                </div>   
                <div class="icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="time">
                  <%= task.due.strftime("%b %d") %>
                </div>  

                </div>

              <div class="clearfix"></div>
              <% i += 1 %>
            <% end %>
            </div>

          </div>
        
        </div><!--/col--> 
            
      </div>
      
       
          
      </div>
    </table>
<!-- End: Change style -->


<div style="width:40%">
  <div>
    <canvas id="canvas" width="450" height="600"></canvas>
    <div id="legendDiv"></div>
  </div>
</div>

<div id="work_distribution_chart">
<script>
  var data = <%=raw @taskData.to_json %>;
  window.onload = function(){
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx).StackedBar(data);
    legend(document.getElementById('legendDiv'), data);
}
</script>
</div>
</body>

