%h1 Edit Existing Task

= form_tag task_path(@task), :method => :put do

  = label :task, :title, 'Title'
  = text_field :task, 'title'

  = label :task, :course, 'Course'
  = text_field :task, 'course'

  = label :task, :kind, 'Kind'
  = select :task, :kind, ['Homework','Project','Exam','Essay','Personal']

  = label :task, :status, 'Status'
  = select :task, :status, ['New','Ongoing','Complete']

  = label :task, :release, 'Release Date'
  = date_select :task, :release

  = label :task, :due, 'Due Date'
  = date_select :task, :due

  = submit_tag 'Update Task Info'

  
