%h1 All Tasks

%table#tasks
  %thead
    %tr
      %th Task Title
      %th Due Date
      %th Status
      %th More Info
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.title 
        %td= task.due
        %td= task.status
        %td= link_to "More about #{task.title}", task_path(task)

= link_to 'Add new task', new_task_path
