= link_to 'Sign Out', destroy_user_session_path,  method: :delete

%h1 All Tasks

%table#tasks
  %thead
    %tr
      %th Task Title
      %th Course
      %th Kind
      %th Release Date
      %th Due Date
      %th Status
      / %th More Info
  %tbody
    - @tasks.each do |task|
      %tr
        %td= link_to task.title, task_path(task)
        %td= task.course
        %td= task.kind
        %td= task.release.strftime("%B %d, %Y")
        %td= task.due.strftime("%B %d, %Y")
        %td= task.status
        / %td= link_to "More about #{task.title}", task_path(task)

= link_to 'Add new task', new_task_path

