<h1>All Tasks</h1>

<table id="tasks">
  <tr>
    <th>Task Title</th>
    <th>Course</th>
    <th>Kind</th>
    <th>Release Date</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Owner</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.title, task_path(task) %></td>
    <td><%= task.course %></td>
    <td><%= task.kind %></td>
    <td><%= task.release.strftime("%B %d, %Y") %></td>
    <td><%= task.due.strftime("%B %d, %Y")%></td>
    <td><%= task.status%></td>
    <td><%= task.user.full_name%></td>
  </tr>
<% end %>
</table>

<%= link_to 'Add new task', new_task_path %>
