%h1 Create New Task

= form_tag tasks_path do

  = label :task, :title, 'Title'
  = text_field :task, 'title'

  = label :task, :status, 'Status'
  = select :task, :status, ['New','Ongoing','Complete']

  = label :task, :due, 'Due Date'
  = date_select :task, :due
  = submit_tag 'Save Changes'

= link_to 'Cancel', tasks_path