    <!-- Task Table -->

<div id="status-box">
  <div>
    <% if (notice) %>
      <p id="notice"><%=notice%></p>
    <% end %>
    <div class="box">
        <div class="box-header">
          <h2><i class="fa fa-align-justify"></i><span class="break"></span>All Tasks</h2>
          <div class="box-icon" id="icons">
            <a href="status.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
            <a ref="status.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
            <a href="status.html#" class="btn-close"><i class="fa fa-times"></i></a>
          </div>
        </div>

        
        <div id="task_table">
          <div>        
            <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" style="left: 100px; width: 140px;" class="btn btn-large btn-primary">
              <div class="box-content">
                  <option>Select Task Type</option>
                  <%= Task.all_kinds.each do |task| %>
                    <%=options_for_select([["#{task}", "/status?filter=#{task}"]])%>
                  <% end %>
                  <option value="/status?filter=Show All">Show All</option>
              </div>
            </select>
            <strong> In </strong>
            <select id="MySelect" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" style="left: 100px; width: 150px;" class="btn btn-large btn-primary">
            <div class="box-content"> 
                  <option>Select Tasks range</option>             
                  <%= Task.date_range.each do |date| %>
                    <%=options_for_select([["#{date}", "/status?date=#{date}"]])%>
                  <% end %>
              </div>
            </select>
            <div style="float:right;">
              <% if params[:show_finished] == nil %>
                <td><%= link_to "Show finished tasks", '/status?show_finished=yes'+(params[:sort] ? '&sort='+params[:sort] : ''), { :class => "btn btn-large btn-primary" } %></td>
              <% else %>
                <td><%= link_to "Hide finished tasks", '/status'+(params[:sort] ? '?sort='+params[:sort] : ''), { :class => "btn btn-large btn-primary" } %></td>
              <% end %>
            </div>
            <div style="float:right;" class="btn btn-mini">
              <%= link_to 'Delete Generate Task', delete_generate_task_path%>
            </div>
            <div style="float:right;" class="btn btn-mini">
              <%= link_to 'Generate Task', generate_task_path %>
            </div>

          </div>
          <table class="table">
            <thead>
              <tr>
                <th><%= link_to "Task Title", :sort => :title%>   <i class="fa fa-sort"></i></th>
                <th><%= link_to "Course", :sort => :course%>   <i class="fa fa-sort"></i></th>
                <th><%= link_to "Type", :sort => :kind%>   <i class="fa fa-sort"></i></th>
                <th><%= link_to "Due Date", :sort => :due%>   <i class="fa fa-sort"></i></th>
                <th><%= link_to "Status", :sort => :status%>   <i class="fa fa-sort"></i></th>
                <th>Rate</th>
                <th>Action</th>
                <th>Next Step</th>
              </tr>
            </thead>

            <tbody>
              <% @tasks.each do |task| %>
                <tr>
                  <td><%= link_to task.title, task_path(task) %></td>
                  <td><%= task.course %></td>
                  <td><%= task.kind %></td>
                  <td><%= task.remain_time %></td>
                  <td><span class="label <%= task.label%>"><%= task.status%></span></td>
                  <td>
                      <% for i in 1..task.rate %>
                        <span><i class="fa fa-star"></i></span>
                      <% end %>
                  </td>
                  <td>
                    <%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, task_path(task), :method => :get %> | 
                    <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_task_path(task), :method => :get %> | 
                    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, delete_path(task), :method => :get %>
                  </td>
                  <td>
                    <%= link_to task.change_status_button.html_safe, task_change_status_path(:id => task.id, :redirect_url => status_path)%>
                  </td>

                </tr>
              <% end %>
            </tbody>
          </table> 
        </div>
    </div>
  </div>
</div>



<div>       
  <div class="col-lg-4 col-md-4" id="to-do-list">
    <div class="box">
      <div class="box-header">
        <h2>Pie Chart for Tasks</h2>
        <div class="box-icon">
          <a href="status.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
          <a data-target="#todo-list" class="btn-minimize" data-toggle="collapse" aria-expanded="false"><i class="fa fa-chevron-up"></i></a>
          <a href="status.html#" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="box-content" id="PieChart">
        <div id="piechart" style="height:100px"></div>
      </div>
    </div>
          
  </div><!--/col-->

  <div class="col-lg-8 col-md-8">
    <div class="box">
      <div class="box-header">
        <h2>Work Load Distribution</h2>
      </div>
      <div class="box-content">
        <canvas id = "work_distribution_chart" width="750" height="300"></canvas>
        <div id="legendDiv"></div>
      </div>
    </div>

  </div><!--/col-->
    
</div><!--/row--> 

<script>
  var data = <%=raw @taskDataWorkDist.to_json %>;
  window.onload = function(){
    var ctx = document.getElementById("work_distribution_chart").getContext("2d");
    window.myBar = new Chart(ctx).StackedBar(data);
    // legend(document.getElementById('legendDiv'), data);
  }
</script>
<script>
  var temp = Math.max($('#piechart').height(), $('#work_distribution_chart').height());
  $('#piechart').height(temp);
  $('#work_distribution_chart').height(temp);
</script>
<script id="PieChartData">
  /* ---------- Pie chart ---------- */
  // var data0 = [
  //   { label: "Internet Explorer",  data: 0.1},
  //   { label: "Mobile",  data: 0.1},
  //   { label: "Safari",  data: 0.2},
  //   { label: "Opera",  data: 0.2},
  //   { label: "Firefox",  data: 0.2},
  //   { label: "Chrome",  data: 0.2}
  // ];

  var data0 = <%= raw @taskDataPieChart.to_json %>;
  var options = {
      series: {
        label: {
              show: "auto",
              formatter: function(label, slice) {
                return "<div style='font-size:large;text-align:center;padding:2px;color:" + slice.color + ";'>" + label + "<br/>" + Math.round(slice.percent) + "%</div>";
              }
            }
      }
  };
  
  if($("#piechart").length)
  {
    $.plot($("#piechart"), data0,
    {
      series: {
          pie: {
              show: true
          },
          label: {
            show: "auto",
            formatter: labelFormatter
          }
      },
      grid: {
          hoverable: true,
          clickable: true
      },
      legend: {
        show: false
      },
      colors: ["#FA5833", "#2FABE9", "#FABB3D", "#78CD51"]
    });

    function labelFormatter(label, series) {
        return "<div style='font-size:16pt; text-align:center; padding:2px; color:white;'>"
              + label + "<br/>" + Math.round(series.percent) + "%</div>";
    }
    
    function pieHover(event, pos, obj)
    {
      if (!obj)
          return;
      percent = parseFloat(obj.series.percent).toFixed(2);
      $("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
    }
    $("#piechart").bind("plothover", pieHover);
  }
</script>

